*{
    margin: 0%;
    padding: 0%;
}

.minHeight{
    min-height: 90vh;
}

.dark{
    background-color: black;
    color: #fff;
}

.footer{
    min-height: 30vh;
    display: flex;
    justify-content: center;
}

.home{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    padding: 10% 0;
}


.navbar{
    min-height: 10vh;
    background-color: #333;
    color:#fff;
    display: flex;
    justify-content: space-between;

    >.logo{
        font-size: 50px;
        margin-left: 30px;
    }

    >ul{
        display: flex;
        gap: 10px;
        margin-right: 40px;
        >li{
            font-size: 20px;
            list-style: none;
            margin-top: 20px;
>a{
                text-decoration: none;
                color: white;
                &:hover{
                    color: orange;
}
        }
    }
    }}


.pagenotfound{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.namecard{
    border: 1px solid black;
    width: 300px;
    height: 30vh;
    margin-left: 30px;
    padding: 1% 1%;
    background: #2A7B9B;
background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);

>img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
}